body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #FEFFED;
    overflow-y: auto; /*스크롤 만들기*/
}

.content section:not(#home) {
    display: none;
}

.custom-text {
    color: #333;
    font-size: 17px;
    font-weight: bold;
    opacity: 0.9; 
}

.sidebar {
    background-color: #F0F8FF; /* 하늘색 배경 */
    color: Black;
    padding: 2rem;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.sidebar .profile-image {
    width: 250px; /* 원하는 이미지 크기로 조정 */
    height: 250px;
    border-radius: 50%; /* 원형으로 만들기 위해 */
    margin-bottom: 1rem;
}

.sidebar .profile-image2 {
    width: 200px; /* 원하는 이미지 크기로 조정 */
    height: 200px;
    border-radius: 50%; /* 원형으로 만들기 위해 */
    margin-bottom: 100px;
}   

.sidebar h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}

.sidebar nav ul li {
    margin-bottom: 1rem;
}

.sidebar nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.5;
}

.content {
    margin-left: 600px; /* 사이드바 너비만큼 왼쪽 여백 */
    padding: 2rem;
    width: calc(100% - 250px);
}

.content .home-image {
    width: 500px;
    height: 500px;
    float: middle;
}

section .정몽규{
    width: 500px;
    height: 500px;
    float: middle;
}

section {
    margin-bottom: 2rem;
}

section h1 {
    font-size: 46px;
}

section h2 {
    font-size: 24px;
    font-weight: lighter;
    color: #666;
}

section p {
    font-size: 20px;
    color: #666;
}

.content #contact .cat-image {
    width: 500px;
    height: 500px;
    float: middle;
    border-radius: 20%;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.photo-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.photo-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.photo-item p {
    margin-top: 0.5rem;
    font-size: 14px;
    color: #333;
}


/* 미디어 쿼리 추가 */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* 사이드바 전체 너비 사용 */
        height: auto; /* 높이 자동 조정 */
        position: relative; /* 고정 위치 해제 */
    }

    .content {
        margin-left: 0; /* 왼쪽 여백 제거 */
        width: 100%; /* 콘텐츠 전체 너비 사용 */
    }
}

/* 모바일 이미지 크기 조정 */
.photo-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
